.data {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  width: 18vw;
  height: 20vh;
}

.data__title {
  color: grey;
  font-size: 16px;
  font-weight: 400;
}

.data__stat {
  text-align: center;
  padding: 15px;
}

.data__bottom {
  display: flex;
}

.data__bottom > img {
  height: 120px;
  margin-left: 10px;
}
