.data {
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  width: 18vw;
  height: 20vh;
}

.data__title {
  color: grey;
  font-size: 16px;
  font-weight: 400;
  margin: 5px;
}

.data__stat {
  text-align: center;
  padding: 20px;
}
